{% include "header.html" %}
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Dashboard</h1>

    <h2>user details</h2>
    <div class="table-responsive">
        <h3>USER LIST : </h3>
        <form method="post">
            {% csrf_token %}
            <textarea name="users"></textarea>
            <button>Load</button>
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>username</th>
                <th>id</th>

            </tr>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                <td>{{item.user}}</td>
                <td>{{item.id}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</div>
</div>
{% include "footer.html" %}