{% include "header.html" %}
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Dashboard</h1>

    <h2>user details</h2>
    <div class="table-responsive">
        <h1>RT : {{rtCount}}</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>username</th>
                <th>twitts</th>

            </tr>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                <td>
                    {{item.id}}
                </td>
                <td>{{item.text}}</td>
                <td>{{item.date}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</div>
</div>
{% include "footer.html" %}